@import "../common/variables";
@import "media-header.scss";

header {
    background-color: $header-bg-color;


.wrapper-header {
    padding-top: 30px;

    .nav {
        background-color: $bg-color;

        .nav-item {

            a {
                padding: 45px 20px;
                font-weight: bold;
                color: $contact-color;
                text-transform: uppercase;
                font-size: $xs-size;

                &:hover {
                    background-color: #ff2d2d;
                }


            }
        }

    }
}

.wrapper-our {
    padding: 100px 0;
    .wrapper-video{
        display: flex;
        justify-content: flex-end;
        padding: 0;
    }

    .wrp-our {

        flex-direction: column;
        justify-content: space-around;

     

        .title {
            flex-direction: column;
            justify-content: space-between;


            h1 {
                padding-bottom: 35px;
                font-size: 60px;
                text-transform: uppercase;
                font-weight: bold;

            }

            p {
                color: grey;
            }
        }

        a {
            padding: 15px 66px;
            font-size: $md-size;
            border: 1px solid $hover-color;
            background-color: $hover-color;
            border-radius: 5px;
            text-decoration: none;
            color: white;
            font-weight: bold;
            letter-spacing: 2px;

            &:hover {
                color: $hover-color;
                background-color: white;
            }
        }

    }


}
}